include includes/sty
include includes/header
div(class="row no-gutters text-center move")
    div(class="col-sm-4")
        h5
            a(href="admin-new-ord.html") طلبات جديده
    div(class="col-sm-4")
        h5(class="active")
            a(href="admin-cur-ord.html") طلبات حاليه
    div(class="col-sm-4")
        h5
            a(href="admin-prev-ord.html") طلبات سابقه
div(class="cart text-center my-orders admin-new")
    div(class="caption") 
        <div class="card mb-4" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="includes/images/use-img.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-left">
                        <h5 class="card-title"> العميل : مازن محمد</h5>
                        <p class="card-text">رقم الطلب : 5462189 </p>
                        <p class="card-text">السعر : 75 ريال</p>
                        <p class="card-text">العنوان : الرياض - السعوديه  </p>
                    </div>
                </div>
            </div>
            div(class="row no-gutters")
                div(class="col-md-6")
                    button(class="rej connect") 010110100120
                div(class="col-md-6")
                    button(class="receive") تاكيد التسليم
        </div> 
        <div class="card mb-4" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="includes/images/use-img.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-left">
                        <h5 class="card-title"> العميل : مازن محمد</h5>
                        <p class="card-text">رقم الطلب : 5462189 </p>
                        <p class="card-text">السعر : 75 ريال</p>
                        <p class="card-text">العنوان : الرياض - السعوديه  </p>
                    </div>
                </div>     
            </div>
            div(class="row no-gutters")
                div(class="col-md-6")
                    button(class="rej connect") 01111111111
                div(class="col-md-6")
                    button(class="receive") تاكيد التسليم
                
        </div> 
include includes/footer
include includes/scrp