include includes/sty
include includes/header
div(class="cart text-center")
    div(class="caption")
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                <img src="includes/images/erik-odiin-787777-unsplash.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body text-left">
                    <h5 class="card-title">بيف برجر 250 جرام</h5>
                    <h5 class="card-title">75 ريال</h5>
                    <h5 class="card-title">البائع : wild-burger</h5>
                    <h5 class="card-title">الكميه : <span>1 <i class="fas fa-sort-down"></i> </h5>
                </div>
            </div>
            </div>
            button(class='del') <i class="far fa-times-circle"></i> مسح
            </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                <img src="includes/images/erik-odiin-787777-unsplash.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body text-left">
                    <h5 class="card-title">بيف برجر 250 جرام</h5>
                    <h5 class="card-title">75 ريال</h5>
                    <h5 class="card-title">البائع : wild-burger</h5>
                    <h5 class="card-title">الكميه : <span>1 <i class="fas fa-sort-down"></i> </h5>
                </div>
                </div>
            </div>
            button(class='del') <i class="far fa-times-circle"></i> مسح
            </div>    
    
include includes/footer
include includes/scrp
