include includes/sty
include includes/header
div(class="add-offer contact")
    h2(class="add text-center" , style="margin-bottom:2rem !important")
        <i class="fas fa-user-circle fa-4x"></i>
    form
        input(type="text" class="form-control" placeholder="مازن محمد أنور ")
        input(type="text " , class="form-control" , placeholder="mazenanwar@yahoo.com")
        input(type="text" class="form-control" placeholder="0101010155 ")
        input(type="text" class="form-control" placeholder="البلد ")
        input(type="text" class="form-control" placeholder="المحافظه ")
        textarea(name="", cols="30", rows="5", class="form-control" , placeholder="العنوان بالتفصيل")
        button(style="border-radius: 2.5rem") احفظ التعديلات    
    
include includes/footer
include includes/scrp