html
    head
        title الرئيسيه
        include includes/sty.pug

    body
        include includes/header
        div(class="main")
            div(class="caption text-white")
                h1 سفره
                h4 بتشتري .. بتبيع ؟ كله عند أم ربيع
                button(class="reg")
                    | سجل الان <img src="includes/images/dish.png">
        
        <!-- Resturant -->
        div(class="resturant")
            h2 ابحث عن مطعمك المفضل
            div(class="container")
                div(class="row")
                    div(class="col-md-6")
                        div(class="search-res")
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <i class="fas fa-arrow-down"></i>
                            </form>
                    div(class="col-md-6")
                        div(class="search-res")
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <i class="fas fa-search"></i>
                            </form>
                div(class="row")            
                    div(class="col-md-6")
                        div(class="res-det")
                            img(src="includes/images/res-img.png" class="mr-auto")
                            div(class="info mr-auto")
                                h3 دجاج كنتاكي
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                p الحد الادنى للطلب 60 ريال
                                p رسوم التوصيل : 10 ريال
                                span(class="avail") <span class="online"></span> مفتوح

                    div(class="col-md-6")
                        div(class="res-det")
                            img(src="includes/images/res-img.png" class="mr-auto")
                            div(class="info mr-auto")
                                h3 دجاج كنتاكي
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                p الحد الادنى للطلب 60 ريال
                                p رسوم التوصيل : 10 ريال
                                span(class="avail") <span class="online"></span> مفتوح
                div(class="row")            
                    div(class="col-md-6")
                        div(class="res-det")
                            img(src="includes/images/res-img.png" class="mr-auto")
                            div(class="info mr-auto")
                                h3 دجاج كنتاكي
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                p الحد الادنى للطلب 60 ريال
                                p رسوم التوصيل : 10 ريال
                                span(class="avail") <span class="online"></span> مفتوح

                    div(class="col-md-6")
                        div(class="res-det")
                            img(src="includes/images/res-img.png" class="mr-auto")
                            div(class="info mr-auto")
                                h3 دجاج كنتاكي
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                p الحد الادنى للطلب 60 ريال
                                p رسوم التوصيل : 10 ريال
                                span(class="avail") <span class="online"></span> مفتوح

                div(class="row")            
                    div(class="col-md-6")
                        div(class="res-det")
                            img(src="includes/images/res-img.png" class="mr-auto")
                            div(class="info mr-auto")
                                h3 دجاج كنتاكي
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                p الحد الادنى للطلب 60 ريال
                                p رسوم التوصيل : 10 ريال
                                span(class="avail") <span class="online"></span> مفتوح

                    div(class="col-md-6")
                        div(class="res-det")
                            img(src="includes/images/res-img.png" class="mr-auto")
                            div(class="info mr-auto")
                                h3 دجاج كنتاكي
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                p الحد الادنى للطلب 60 ريال
                                p رسوم التوصيل : 10 ريال
                                span(class="avail") <span class="online"></span> مفتوح

        include includes/scrp