include includes/sty
include includes/header
div(class="row no-gutters text-center move")
    div(class="col-sm-6")
        h5(class="active")
            a(href="my-orders.html") طلبات حاليه
    div(class="col-sm-6")
        h5
            a(href="prev-order.html") طلبات سابقه
div(class="cart text-center my-orders")
    div(class="caption")
        
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-3">
                <img src="includes/images/erik-odiin-787777-unsplash.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body text-left">
                        <h5 class="card-title">بيف برجر 250 جرام</h5>
                        <p class="card-text">رقم الطلب : 5462189 </p>
                        <p class="card-text">المجموع : 85 ريال  </p>
                    </div>
                </div>
                <div class="col-md-3">
                <button class="receive"> استلام </button>
                <button class="rej"> رفض </button>
                </div>
                
            </div>
            </div><div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-3">
                <img src="includes/images/erik-odiin-787777-unsplash.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body text-left">
                        <h5 class="card-title">بيف برجر 250 جرام</h5>
                        <p class="card-text">رقم الطلب : 5462189 </p>
                        <p class="card-text">المجموع : 85 ريال  </p>
                    </div>
                </div>
                <div class="col-md-3">
                <button class="receive"> استلام </button>
                <button class="rej"> رفض </button>
                </div>
                
            </div>
            </div> 
include includes/footer
include includes/scrp