include includes/sty
include includes/header
div(class="offers")
    h4
        | العروض المتاحه الان 
    button(class="reg")
        |اضف عرض جديد
    div(class="container-fluid")
        div(class="row")
            div(class="col-md-6")
                img(src="includes/images/offer.jpg", alt="") 
            div(class="col-md-6")
                img(src="includes/images/offer.jpg", alt="") 
        div(class="row")
            div(class="col-md-6")
                img(src="includes/images/offer.jpg", alt="") 
            div(class="col-md-6")
                img(src="includes/images/offer.jpg", alt="") 
include includes/footer
include includes/scrp