include includes/sty
include includes/header
    div(class="rest")
        div(class="main text-center")
            h2
                img(src="includes/images/res-img.png", alt="")
            p 
                <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
        div(class="con")
            h3(class="text-center")
                | قائمه الطعام / منتجاتي
            button(class="reg") أضف منتج جديد
            div(class="container-fluid" )
                div(class="row")
                    div(class="col-md-4")
                        div(class="card")
                            img(src="includes/images/burger.jpg", alt="alt" , class="card-img-top")
                            div(class="card-body")
                                h5(class="card-title")|بيف برجر 250 جرام
                                p(class="card-text")  هناك حقيقه مثبته ان الفراخ الكرسبي حاره
                                img(src="includes/images/piggy-bank.png", alt="alt" , width="25rem")
                                span &nbsp; 55 ريال
                            a(href="#") 
                                i(class="fas fa-times-circle fa-2x")
                                
                    div(class="col-md-4")
                        div(class="card")
                            img(src="includes/images/burger.jpg", alt="alt" , class="card-img-top")
                            div(class="card-body")
                                h5(class="card-title")|بيف برجر 250 جرام
                                p(class="card-text")  هناك حقيقه مثبته ان الفراخ الكرسبي حاره
                                img(src="includes/images/piggy-bank.png", alt="alt" , width="25rem")
                                span &nbsp; 55 ريال
                            a(href="#")
                                <i class="fas fa-times-circle fa-2x"></i>
                    div(class="col-md-4")
                        div(class="card")
                            img(src="includes/images/burger.jpg", alt="alt" , class="card-img-top")
                            div(class="card-body")
                                h5(class="card-title")|بيف برجر 250 جرام
                                p(class="card-text")  هناك حقيقه مثبته ان الفراخ الكرسبي حاره
                                img(src="includes/images/piggy-bank.png", alt="alt" , width="25rem")
                                span &nbsp; 55 ريال
                            a(href="#")
                                i(class="fas fa-times-circle fa-2x")
                div(class="row")
                    div(class="col-md-4")
                        div(class="card")
                            img(src="includes/images/burger.jpg", alt="alt" , class="card-img-top")
                            div(class="card-body")
                                h5(class="card-title")|بيف برجر 250 جرام
                                p(class="card-text")  هناك حقيقه مثبته ان الفراخ الكرسبي حاره
                                img(src="includes/images/piggy-bank.png", alt="alt" , width="25rem")
                                span &nbsp; 55 ريال
                            a(href="#")
                                i(class="fas fa-times-circle fa-2x")
                    div(class="col-md-4")
                        div(class="card")
                            img(src="includes/images/burger.jpg", alt="alt" , class="card-img-top")
                            div(class="card-body")
                                h5(class="card-title")|بيف برجر 250 جرام
                                p(class="card-text")  هناك حقيقه مثبته ان الفراخ الكرسبي حاره
                                img(src="includes/images/piggy-bank.png", alt="alt" , width="25rem")
                                span &nbsp; 55 ريال
                            a(href="#")
                                i(class="fas fa-times-circle fa-2x")
                    div(class="col-md-4")
                        div(class="card")
                            img(src="includes/images/burger.jpg", alt="alt" , class="card-img-top")
                            div(class="card-body")
                                h5(class="card-title")|بيف برجر 250 جرام
                                p(class="card-text")  هناك حقيقه مثبته ان الفراخ الكرسبي حاره
                                img(src="includes/images/piggy-bank.png", alt="alt" , width="25rem")
                                span &nbsp; 55 ريال
                            a(href="#")
                                i(class="fas fa-times-circle fa-2x")

include includes/footer
include includes/scrp