include includes/sty
include includes/header
div(class="cart text-center")
    h2 ليس لديك طلبات حتى الان في عربة التسوق
    div(class="caption" style="height:30rem")
        button اضغط هنا لتكلفة الشراء
include includes/footer
include includes/scrp
