$mainColor:#ED3655;
$secColor: #240040;
$linear: linear-gradient(rgba(233, 66, 94, 0.5), rgba(149, 139, 140, 0.5));
.reg {
    background: $mainColor;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 4rem;
    border: 1px solid $mainColor;
    border-radius: 4rem;
}

body {
    direction: rtl;
}

.navbar {
    background: #ECECEC !important;
    z-index: 2;
    .svg-inline--fa {
        color: $mainColor;
    }
    form {
        position: relative;
        padding-right: 3rem;
        svg.svg-inline--fa.fa-search.fa-w-16 {
            position: absolute;
            left: 1rem;
        }
        input {
            background: #F3F3F3;
        }
    }
    .form-control:focus {
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
    }
    li.nav-item {
        padding-right: 3rem;
    }
}


/*
main
*/

.main {
    background: url('../images/header.png') no-repeat;
    height: 90vh;
    .caption {
        text-align: center;
        padding-top: 10rem;
        h1 {
            font-size: 5rem;
            font-weight: 500;
            transform: rotateZ(-25deg);
            padding-bottom: 2rem;
            letter-spacing: 2px;
        }
        h4 {
            padding: 1rem 0;
        }
    }
}


/*
Resturant
*/

.resturant {
    background: url('../images/Group\ 1034-min.png');
    padding-bottom: 2rem;
    ;
    h2 {
        text-align: center;
        color: $secColor;
        letter-spacing: 1;
        padding: 1rem 0;
    }
    .search-res {
        padding: 0 3rem;
        margin-bottom: 1rem;
        form {
            position: relative;
            svg:not(:root).svg-inline--fa {
                position: absolute;
                top: 40%;
                left: 32%;
                color: $mainColor;
            }
        }
    }
    input {
        width: 75% !important;
        height: 4rem;
        background: #F6F6F6;
        border-radius: 1.5rem;
    }
    .res-det {
        margin-top: 1rem;
        background: #fff;
        border-radius: 2rem;
        padding: 2rem;
        position: relative;
        img {
            width: 40%;
        }
        .info {
            width: 60%;
            float: left;
            height: 100%;
            h3 {
                color: $mainColor;
                letter-spacing: 1;
                padding-bottom: 1rem;
            }
            p {
                padding-bottom: 0;
                padding-top: 1rem;
                margin-bottom: 0;
                font-size: 1.111rem;
            }
        }
        .avail {
            position: absolute;
            top: 50%;
            left: 10;
            font-size: 1.2rem;
            .online {
                background: green;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                display: inline-block;
            }
        }
    }
}

.offers {
    background: #fff;
    .right {
        img {
            padding: 6rem 2rem;
            width: 90%;
            height: 28rem;
        }
    }
    .left {
        background: url('../images/Group 1038.jpg');
        margin: 7rem 1rem;
        text-align: center;
        font-size: 1.5rem;
        color: #fff;
        border-radius: 2rem;
        .caption {
            background: $linear;
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            padding: 2rem;
            button {
                display: block;
                text-align: center;
                @extend .reg;
                margin: 1rem auto;
            }
        }
    }
}


/* 
OUR APp
*/

.our-app {
    background: url('../images/Group\ 1035.png') no-repeat;
    background-size: cover;
    button {
        margin: 10rem;
        background: url('../images/download\ button-min.png') no-repeat;
        background-size: contain;
        border: 0;
        padding: 1rem 6rem;
        color: #fff;
        font-size: 1.5rem;
        letter-spacing: 1;
    }
    h2 {
        padding: 4rem 4rem 0 0;
    }
}


/*
footer
*/

footer {
    background: url('../images/footer\ bg.png') no-repeat;
    background-size: cover;
    padding: 2rem;
    .left {
        img {
            float: left;
            width: 50%;
            margin-top: 3rem;
        }
    }
    .right {
        p {
            letter-spacing: 1;
            margin-bottom: 3rem;
            margin-top: 1.5rem;
        }
        svg {
            margin-left: 1.5rem;
        }
    }
}


/*
shopping cart
*/

.cart {
    h2 {
        color: $secColor;
        letter-spacing: 1;
        margin-top: 3rem;
    }
    .caption {
        background: url(../images/cart-bg.png) no-repeat;
        margin-bottom: 3rem;
        button {
            @extend .reg;
            margin-top: 6rem;
        }
    }
    .del {
        @extend .reg;
        width: 50%;
        display: block;
        margin: 2rem auto !important;
    }
    .card {
        margin: 4rem auto;
        border-radius: 2rem;
        padding: 2rem;
        box-shadow: -2px 1px 10px 0px #ccc;
        h5 {
            color: $secColor;
            letter-spacing: 1;
        }
        .card-img {
            border-radius: 1rem;
        }
        span {
            padding: 0 0.75rem;
            background: #ECECEC;
            svg {
                color: $mainColor;
            }
        }
    }
}


/*
ADD OFFER
*/

.add {
    color: $mainColor;
    margin-top: 2rem;
}

.add-offer {
    width: 60%;
    margin: 4rem auto;
    background: #ECECEC;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: -2px 1px 10px 0px #ccc;
    img {
        display: block;
        margin: 1rem auto;
        width: 25%;
        box-shadow: -2px 1px 10px 0px #ccc;
    }
    input,
    textarea {
        margin-top: 1.5rem;
        padding: 1.5rem;
        background: #F5F5F5;
        color: #ECECEC;
        border: 0;
        border-radius: 1rem;
    }
    span {
        margin-left: 2rem;
        font-size: 1.5rem;
        padding: 1rem;
        background: #E5E5E5;
        display: inline-block;
        margin-top: 2rem;
        border-radius: 1rem;
        color: $secColor;
        svg {
            margin-right: 1rem;
        }
    }
    button {
        @extend .reg;
        display: block;
        margin: 2rem auto;
        border-radius: 1rem;
        background: linear-gradient(#E32F52, #B2134D);
        padding: 0.75rem 6rem;
    }
}


/*
contact 
*/

.contact {
    background: linear-gradient(#E32F52, #B2134D);
    .add {
        color: #fff;
        margin: 2rem 0 4rem;
    }
    button {
        background: #240040;
        border-color: #240040;
    }
    .radio-div {
        text-align: center;
        margin: 3rem;
        font-size: 1.25rem;
        color: #fff;
    }
    .form-check.form-check-inline {
        margin-left: 2rem;
    }
}


/*
login */

.log {
    background: #fff;
    position: relative;
    border-top: 0;
    box-shadow: 0px 10px 10px 0px #e3dfdf;
    margin-top: 8rem;
    .op {
        color: $mainColor;
        font-weight: 500;
    }
    .user {
        position: absolute;
        top: -1rem;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
            width: 45% !important;
            box-shadow: 0 0 !important;
        }
    }
    a {
        color: $mainColor;
    }
}


/*
offers
*/

.offers {
    h4 {
        color: $mainColor;
        position: relative;
        margin: 3rem;
        padding: 0 1rem;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: -0.25rem;
            width: 2px;
            height: 150%;
            background: $secColor;
        }
    }
    img {
        width: 90%;
        display: block;
        border-radius: 1rem;
        margin: 1rem auto;
        height: 21rem;
    }
    button {
        display: block;
        margin: 1rem auto;
        margin-bottom: 2rem;
    }
    .row {
        margin-bottom: 2rem;
    }
}


/*
resturant page 
*/

.rest {
    h2 {
        text-align: center;
        padding-top: 6rem;
    }
    .reg {
        display: block;
        margin: 2rem auto;
    }
    h3 {
        color: $secColor;
        letter-spacing: 1;
        padding-top: 5rem;
    }
    .con {
        background: url('../images/Group\ 1034-min.png');
        padding-bottom: 3rem;
    }
    .card {
        color: $mainColor;
        width: 80%;
        margin: 1rem auto;
        border-radius: 1rem;
        position: relative;
        p {
            color: #707070;
            text-align: center;
        }
        h5 {
            text-align: center;
        }
        img {
            border-radius: 1rem;
        }
        svg {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
            color: #010101;
        }
    }
    .container-fluid {
        padding-top: 3rem;
    }
}


/*
meal page
*/

.meal {
    .h-eval {
        margin: 0 !important;
    }
    .ev {
        background: #ECECEC;
        border-radius: 1.5rem;
        color: $mainColor;
        svg {}
    }
    .evv {
        margin: 2rem 0;
    }
    h3 {
        color: $mainColor;
        position: relative;
        margin: 3rem 0;
        padding: 0 1rem;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: -0.25rem;
            width: 3px;
            height: 150%;
            background: $secColor;
        }
    }
    .card {
        width: 80%;
        margin: 1rem auto;
        border: 0;
        border-bottom: 2px solid #eee;
        h2 {
            color: $secColor;
            margin-bottom: 2rem;
        }
        .card-img-top {
            width: 100%;
            height: 80vh;
            display: block;
            margin: 2rem auto;
            border-radius: 1rem;
        }
    }
    .reg {
        display: block;
        margin: 1rem auto;
        padding-bottom: 1rem;
    }
    .info {
        span {
            color: $mainColor;
        }
    }
}

.eval {
    .eval-com {
        padding: 3rem;
        background: #E5E5E5;
        border-radius: 2rem;
        color: $mainColor;
        font-size: 1.5rem;
        margin-top: 1rem;
        p {
            padding: 1rem 0;
        }
        .ev {
            background: #fff;
            padding: 0.25rem;
            border-radius: 1.5rem;
        }
    }
    textarea.form-control {
        background: #F9F9F9;
        padding: 2rem;
        font-size: 1.25rem;
        border-radius: 1.5rem;
        border: 0;
        box-shadow: 1px 1px 12px 2px #eee;
    }
    .send {
        @extend .reg;
        background: linear-gradient(#E53053, #A80E4A) !important;
        display: block;
        margin: 2rem auto;
    }
}

.owl-carousel img {
    width: 100%;
    height: 200px;
    border-radius: 1rem;
}

.owl-container {
    background: url('../images/offer-bg.jpg') no-repeat;
    background-size: 150%;
    overflow: hidden;
    border-radius: 0;
}

.owl-carousel.owl-theme.owl-loaded.owl-drag {
    background: rgba($color: #F69A8D, $alpha: 0.9);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.owl-theme .owl-dots .owl-dot span {
    background: $secColor;
    width: 20px;
    height: 20px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: $mainColor;
}


/*  modal */

.modal-title {
    color: $mainColor;
    text-align: center;
}

.modal-body {
    button {
        margin: 0.5rem auto;
        text-align: center;
        display: block;
        background: linear-gradient(#E53053, #A80E4A) !important;
    }
}

.my-orders {
    .card {
        background: #ECECEC;
        margin: 2rem auto;
        .card-img {
            border-radius: 50%;
            border: 2px solid $mainColor;
        }
        .card-text {
            color: #a4a3a3;
            margin-bottom: 0.25rem !important;
        }
        .card-title {
            color: $mainColor;
        }
        .receive {
            background: #008D3E;
            border-color: #008D3E;
        }
        .receive,
        .rej {
            padding: 0.5rem;
            margin-top: 0.5rem;
            border-radius: 2rem;
            width: 70%;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}

.move {
    background: $mainColor;
    padding: 2rem;
    color: #fff;
    letter-spacing: 1;
    a {
        color: #fff;
        text-decoration: none;
    }
    h5.active {
        display: inline-block;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            height: 3px;
            width: 130%;
            background: $secColor;
            bottom: -2.60rem;
            left: -15%;
        }
    }
}

.admin-new {
    .card-img {
        border: 0 !important;
    }
    .rejj {
        background: $secColor !important;
        border-color: $secColor !important;
    }
}