.reg, .offers .left .caption button, .cart .caption button, .cart .del, .add-offer button, .eval .send {
  background: #ED3655;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 4rem;
  border: 1px solid #ED3655;
  border-radius: 4rem; }

body {
  direction: rtl; }

.navbar {
  background: #ECECEC !important;
  z-index: 2; }
  .navbar .svg-inline--fa {
    color: #ED3655; }
  .navbar form {
    position: relative;
    padding-right: 3rem; }
    .navbar form svg.svg-inline--fa.fa-search.fa-w-16 {
      position: absolute;
      left: 1rem; }
    .navbar form input {
      background: #F3F3F3; }
  .navbar .form-control:focus {
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  .navbar li.nav-item {
    padding-right: 3rem; }

/*
main
*/
.main {
  background: url("../images/header.png") no-repeat;
  height: 90vh; }
  .main .caption {
    text-align: center;
    padding-top: 10rem; }
    .main .caption h1 {
      font-size: 5rem;
      font-weight: 500;
      transform: rotateZ(-25deg);
      padding-bottom: 2rem;
      letter-spacing: 2px; }
    .main .caption h4 {
      padding: 1rem 0; }

/*
Resturant
*/
.resturant {
  background: url("../images/Group 1034-min.png");
  padding-bottom: 2rem; }
  .resturant h2 {
    text-align: center;
    color: #240040;
    letter-spacing: 1;
    padding: 1rem 0; }
  .resturant .search-res {
    padding: 0 3rem;
    margin-bottom: 1rem; }
    .resturant .search-res form {
      position: relative; }
      .resturant .search-res form svg:not(:root).svg-inline--fa {
        position: absolute;
        top: 40%;
        left: 32%;
        color: #ED3655; }
  .resturant input {
    width: 75% !important;
    height: 4rem;
    background: #F6F6F6;
    border-radius: 1.5rem; }
  .resturant .res-det {
    margin-top: 1rem;
    background: #fff;
    border-radius: 2rem;
    padding: 2rem;
    position: relative; }
    .resturant .res-det img {
      width: 40%; }
    .resturant .res-det .info {
      width: 60%;
      float: left;
      height: 100%; }
      .resturant .res-det .info h3 {
        color: #ED3655;
        letter-spacing: 1;
        padding-bottom: 1rem; }
      .resturant .res-det .info p {
        padding-bottom: 0;
        padding-top: 1rem;
        margin-bottom: 0;
        font-size: 1.111rem; }
    .resturant .res-det .avail {
      position: absolute;
      top: 50%;
      left: 10;
      font-size: 1.2rem; }
      .resturant .res-det .avail .online {
        background: green;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: inline-block; }

.offers {
  background: #fff; }
  .offers .right img {
    padding: 6rem 2rem;
    width: 90%;
    height: 28rem; }
  .offers .left {
    background: url("../images/Group 1038.jpg");
    margin: 7rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 2rem; }
    .offers .left .caption {
      background: linear-gradient(rgba(233, 66, 94, 0.5), rgba(149, 139, 140, 0.5));
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      padding: 2rem; }
      .offers .left .caption button {
        display: block;
        text-align: center;
        margin: 1rem auto; }

/* 
OUR APp
*/
.our-app {
  background: url("../images/Group 1035.png") no-repeat;
  background-size: cover; }
  .our-app button {
    margin: 10rem;
    background: url("../images/download button-min.png") no-repeat;
    background-size: contain;
    border: 0;
    padding: 1rem 6rem;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1; }
  .our-app h2 {
    padding: 4rem 4rem 0 0; }

/*
footer
*/
footer {
  background: url("../images/footer bg.png") no-repeat;
  background-size: cover;
  padding: 2rem; }
  footer .left img {
    float: left;
    width: 50%;
    margin-top: 3rem; }
  footer .right p {
    letter-spacing: 1;
    margin-bottom: 3rem;
    margin-top: 1.5rem; }
  footer .right svg {
    margin-left: 1.5rem; }

/*
shopping cart
*/
.cart h2 {
  color: #240040;
  letter-spacing: 1;
  margin-top: 3rem; }
.cart .caption {
  background: url(../images/cart-bg.png) no-repeat;
  margin-bottom: 3rem; }
  .cart .caption button {
    margin-top: 6rem; }
.cart .del {
  width: 50%;
  display: block;
  margin: 2rem auto !important; }
.cart .card {
  margin: 4rem auto;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: -2px 1px 10px 0px #ccc; }
  .cart .card h5 {
    color: #240040;
    letter-spacing: 1; }
  .cart .card .card-img {
    border-radius: 1rem; }
  .cart .card span {
    padding: 0 0.75rem;
    background: #ECECEC; }
    .cart .card span svg {
      color: #ED3655; }

/*
ADD OFFER
*/
.add {
  color: #ED3655;
  margin-top: 2rem; }

.add-offer {
  width: 60%;
  margin: 4rem auto;
  background: #ECECEC;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: -2px 1px 10px 0px #ccc; }
  .add-offer img {
    display: block;
    margin: 1rem auto;
    width: 25%;
    box-shadow: -2px 1px 10px 0px #ccc; }
  .add-offer input,
  .add-offer textarea {
    margin-top: 1.5rem;
    padding: 1.5rem;
    background: #F5F5F5;
    color: #ECECEC;
    border: 0;
    border-radius: 1rem; }
  .add-offer span {
    margin-left: 2rem;
    font-size: 1.5rem;
    padding: 1rem;
    background: #E5E5E5;
    display: inline-block;
    margin-top: 2rem;
    border-radius: 1rem;
    color: #240040; }
    .add-offer span svg {
      margin-right: 1rem; }
  .add-offer button {
    display: block;
    margin: 2rem auto;
    border-radius: 1rem;
    background: linear-gradient(#E32F52, #B2134D);
    padding: 0.75rem 6rem; }

/*
contact 
*/
.contact {
  background: linear-gradient(#E32F52, #B2134D); }
  .contact .add {
    color: #fff;
    margin: 2rem 0 4rem; }
  .contact button {
    background: #240040;
    border-color: #240040; }
  .contact .radio-div {
    text-align: center;
    margin: 3rem;
    font-size: 1.25rem;
    color: #fff; }
  .contact .form-check.form-check-inline {
    margin-left: 2rem; }

/*
login */
.log {
  background: #fff;
  position: relative;
  border-top: 0;
  box-shadow: 0px 10px 10px 0px #e3dfdf;
  margin-top: 8rem; }
  .log .op {
    color: #ED3655;
    font-weight: 500; }
  .log .user {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%, -50%); }
    .log .user img {
      width: 45% !important;
      box-shadow: 0 0 !important; }
  .log a {
    color: #ED3655; }

/*
offers
*/
.offers h4 {
  color: #ED3655;
  position: relative;
  margin: 3rem;
  padding: 0 1rem; }
  .offers h4:after {
    content: '';
    position: absolute;
    right: 0;
    top: -0.25rem;
    width: 2px;
    height: 150%;
    background: #240040; }
.offers img {
  width: 90%;
  display: block;
  border-radius: 1rem;
  margin: 1rem auto;
  height: 21rem; }
.offers button {
  display: block;
  margin: 1rem auto;
  margin-bottom: 2rem; }
.offers .row {
  margin-bottom: 2rem; }

/*
resturant page 
*/
.rest h2 {
  text-align: center;
  padding-top: 6rem; }
.rest .reg, .rest .offers .left .caption button, .offers .left .caption .rest button, .rest .cart .caption button, .cart .caption .rest button, .rest .cart .del, .cart .rest .del, .rest .add-offer button, .add-offer .rest button, .rest .eval .send, .eval .rest .send {
  display: block;
  margin: 2rem auto; }
.rest h3 {
  color: #240040;
  letter-spacing: 1;
  padding-top: 5rem; }
.rest .con {
  background: url("../images/Group 1034-min.png");
  padding-bottom: 3rem; }
.rest .card {
  color: #ED3655;
  width: 80%;
  margin: 1rem auto;
  border-radius: 1rem;
  position: relative; }
  .rest .card p {
    color: #707070;
    text-align: center; }
  .rest .card h5 {
    text-align: center; }
  .rest .card img {
    border-radius: 1rem; }
  .rest .card svg {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    color: #010101; }
.rest .container-fluid {
  padding-top: 3rem; }

/*
meal page
*/
.meal .h-eval {
  margin: 0 !important; }
.meal .ev {
  background: #ECECEC;
  border-radius: 1.5rem;
  color: #ED3655; }
.meal .evv {
  margin: 2rem 0; }
.meal h3 {
  color: #ED3655;
  position: relative;
  margin: 3rem 0;
  padding: 0 1rem; }
  .meal h3:after {
    content: '';
    position: absolute;
    right: 0;
    top: -0.25rem;
    width: 3px;
    height: 150%;
    background: #240040; }
.meal .card {
  width: 80%;
  margin: 1rem auto;
  border: 0;
  border-bottom: 2px solid #eee; }
  .meal .card h2 {
    color: #240040;
    margin-bottom: 2rem; }
  .meal .card .card-img-top {
    width: 100%;
    height: 80vh;
    display: block;
    margin: 2rem auto;
    border-radius: 1rem; }
.meal .reg, .meal .offers .left .caption button, .offers .left .caption .meal button, .meal .cart .caption button, .cart .caption .meal button, .meal .cart .del, .cart .meal .del, .meal .add-offer button, .add-offer .meal button, .meal .eval .send, .eval .meal .send {
  display: block;
  margin: 1rem auto;
  padding-bottom: 1rem; }
.meal .info span {
  color: #ED3655; }

.eval .eval-com {
  padding: 3rem;
  background: #E5E5E5;
  border-radius: 2rem;
  color: #ED3655;
  font-size: 1.5rem;
  margin-top: 1rem; }
  .eval .eval-com p {
    padding: 1rem 0; }
  .eval .eval-com .ev {
    background: #fff;
    padding: 0.25rem;
    border-radius: 1.5rem; }
.eval textarea.form-control {
  background: #F9F9F9;
  padding: 2rem;
  font-size: 1.25rem;
  border-radius: 1.5rem;
  border: 0;
  box-shadow: 1px 1px 12px 2px #eee; }
.eval .send {
  background: linear-gradient(#E53053, #A80E4A) !important;
  display: block;
  margin: 2rem auto; }

.owl-carousel img {
  width: 100%;
  height: 200px;
  border-radius: 1rem; }

.owl-container {
  background: url("../images/offer-bg.jpg") no-repeat;
  background-size: 150%;
  overflow: hidden;
  border-radius: 0; }

.owl-carousel.owl-theme.owl-loaded.owl-drag {
  background: rgba(246, 154, 141, 0.9);
  padding-top: 3rem;
  padding-bottom: 3rem; }

.owl-theme .owl-dots .owl-dot span {
  background: #240040;
  width: 20px;
  height: 20px; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ED3655; }

/*  modal */
.modal-title {
  color: #ED3655;
  text-align: center; }

.modal-body button {
  margin: 0.5rem auto;
  text-align: center;
  display: block;
  background: linear-gradient(#E53053, #A80E4A) !important; }

.my-orders .card {
  background: #ECECEC;
  margin: 2rem auto; }
  .my-orders .card .card-img {
    border-radius: 50%;
    border: 2px solid #ED3655; }
  .my-orders .card .card-text {
    color: #a4a3a3;
    margin-bottom: 0.25rem !important; }
  .my-orders .card .card-title {
    color: #ED3655; }
  .my-orders .card .receive {
    background: #008D3E;
    border-color: #008D3E; }
  .my-orders .card .receive,
  .my-orders .card .rej {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 2rem;
    width: 70%;
    font-size: 1rem;
    cursor: pointer; }

.move {
  background: #ED3655;
  padding: 2rem;
  color: #fff;
  letter-spacing: 1; }
  .move a {
    color: #fff;
    text-decoration: none; }
  .move h5.active {
    display: inline-block;
    position: relative; }
    .move h5.active:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 130%;
      background: #240040;
      bottom: -2.60rem;
      left: -15%; }

.admin-new .card-img {
  border: 0 !important; }
.admin-new .rejj {
  background: #240040 !important;
  border-color: #240040 !important; }

/*# sourceMappingURL=style.css.map */
