.reg, .offers .left .caption button, .cart .caption button, .cart .del, .add-offer button {
  background: #ED3655;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 4rem;
  border: 1px solid #ED3655;
  border-radius: 4rem; }

body {
  direction: rtl; }

.navbar {
  background: #ECECEC !important;
  z-index: 2; }
  .navbar .svg-inline--fa {
    color: #ED3655; }
  .navbar form {
    position: relative;
    padding-right: 3rem; }
    .navbar form svg.svg-inline--fa.fa-search.fa-w-16 {
      position: absolute;
      left: 1rem; }
    .navbar form input {
      background: #F3F3F3; }
  .navbar .form-control:focus {
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  .navbar li.nav-item {
    padding-right: 3rem; }

/*
main
*/
.main {
  background: url("../images/header.png") no-repeat;
  height: 90vh; }
  .main .caption {
    text-align: center;
    padding-top: 10rem; }
    .main .caption h1 {
      font-size: 5rem;
      font-weight: 500;
      transform: rotateZ(-25deg);
      padding-bottom: 2rem;
      letter-spacing: 2px; }
    .main .caption h4 {
      padding: 1rem 0; }

/*
Resturant
*/
.resturant {
  background: url("../images/Group 1034-min.png");
  padding-bottom: 2rem; }
  .resturant h2 {
    text-align: center;
    color: #240040;
    letter-spacing: 1;
    padding: 1rem 0; }
  .resturant .search-res {
    padding: 0 3rem;
    margin-bottom: 1rem; }
    .resturant .search-res form {
      position: relative; }
      .resturant .search-res form svg:not(:root).svg-inline--fa {
        position: absolute;
        top: 40%;
        left: 32%;
        color: #ED3655; }
  .resturant input {
    width: 75% !important;
    height: 4rem;
    background: #F6F6F6;
    border-radius: 1.5rem; }
  .resturant .res-det {
    margin-top: 1rem;
    background: #fff;
    border-radius: 2rem;
    padding: 2rem;
    position: relative; }
    .resturant .res-det img {
      width: 40%; }
    .resturant .res-det .info {
      width: 60%;
      float: left;
      height: 100%; }
      .resturant .res-det .info h3 {
        color: #ED3655;
        letter-spacing: 1;
        padding-bottom: 1rem; }
      .resturant .res-det .info p {
        padding-bottom: 0;
        padding-top: 1rem;
        margin-bottom: 0;
        font-size: 1.111rem; }
    .resturant .res-det .avail {
      position: absolute;
      top: 50%;
      left: 10;
      font-size: 1.2rem; }
      .resturant .res-det .avail .online {
        background: green;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: inline-block; }

.offers {
  background: #fff; }
  .offers .right img {
    padding: 6rem 2rem;
    width: 90%;
    height: 28rem; }
  .offers .left {
    background: url("../images/Group 1038.jpg");
    margin: 7rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 2rem; }
    .offers .left .caption {
      background: linear-gradient(rgba(233, 66, 94, 0.5), rgba(149, 139, 140, 0.5));
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      padding: 2rem; }
      .offers .left .caption button {
        display: block;
        text-align: center;
        margin: 1rem auto; }

/* 
OUR APp
*/
.our-app {
  background: url("../images/Group 1035.png") no-repeat;
  background-size: cover; }
  .our-app button {
    margin: 10rem;
    background: url("../images/download button-min.png") no-repeat;
    background-size: contain;
    border: 0;
    padding: 1rem 6rem;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 1; }
  .our-app h2 {
    padding: 4rem 4rem 0 0; }

/*
footer
*/
footer {
  background: url("../images/footer bg.png") no-repeat;
  background-size: cover;
  padding: 2rem; }
  footer .left img {
    float: left;
    width: 50%;
    margin-top: 3rem; }
  footer .right p {
    letter-spacing: 1;
    margin-bottom: 3rem;
    margin-top: 1.5rem; }
  footer .right svg {
    margin-left: 1.5rem; }

/*
shopping cart
*/
.cart h2 {
  color: #240040;
  letter-spacing: 1;
  margin-top: 3rem; }
.cart .caption {
  background: url(../images/cart-bg.png) no-repeat;
  margin-bottom: 3rem; }
  .cart .caption button {
    margin-top: 6rem; }
.cart .del {
  width: 50%;
  display: block;
  margin: 2rem auto !important; }
.cart .card {
  margin: 4rem auto;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: -2px 1px 10px 0px #ccc; }
  .cart .card h5 {
    color: #240040;
    letter-spacing: 1; }
  .cart .card .card-img {
    border-radius: 1rem; }
  .cart .card span {
    padding: 0 0.75rem;
    background: #ECECEC; }
    .cart .card span svg {
      color: #ED3655; }

/*
ADD OFFER
*/
.add {
  color: #ED3655;
  margin-top: 2rem; }

.add-offer {
  width: 60%;
  margin: 4rem auto;
  background: #ECECEC;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: -2px 1px 10px 0px #ccc; }
  .add-offer img {
    display: block;
    margin: 1rem auto;
    width: 25%;
    box-shadow: -2px 1px 10px 0px #ccc; }
  .add-offer input,
  .add-offer textarea {
    margin-top: 1.5rem;
    padding: 1.5rem;
    background: #F5F5F5;
    color: #ECECEC;
    border: 0;
    border-radius: 1rem; }
  .add-offer span {
    margin-left: 2rem;
    font-size: 1.5rem;
    padding: 1rem;
    background: #E5E5E5;
    display: inline-block;
    margin-top: 2rem;
    border-radius: 1rem;
    color: #240040; }
    .add-offer span svg {
      margin-right: 1rem; }
  .add-offer button {
    display: block;
    margin: 2rem auto;
    border-radius: 1rem;
    background: linear-gradient(#E32F52, #B2134D);
    padding: 0.75rem 6rem; }

/*# sourceMappingURL=style.css.map */
